### 여러개 입력 처리

In [1]:
a = 'red green blue'  # space를 기준으로 쪼개서 list 만듦
a.split()

['red', 'green', 'blue']

In [4]:
b = 'red,green,blue'
b.split(',')   # ,를 기준으로 split

['red', 'green', 'blue']

In [5]:
string = input('빛의 3원색을 빈칸으로 구분하여 입력하시오.')
string

'빨강 초록 파랑'

In [6]:
r, g, b = string.split()
r, g, b

('빨강', '초록', '파랑')

In [8]:
numbers = ['3.1', '2.4', '8.5']
list(map(float, numbers))
# map() : 여러 개의 데이터를 한 번에 다른 형태로 변환하기 위해서 사용 (튜플이나 리스트에 주로 사용)
# map(float, numbers)값이 안나옴 -> list로 만들어야

[3.1, 2.4, 8.5]

In [9]:
string = '3.1 2.4 8.5'
list(map(float, string.split()))

[3.1, 2.4, 8.5]

In [10]:
string = input('실수 세개를 빈칸으로 구분하여 입력하세요')
string

'3.1 2.4 8.5'

In [11]:
list(map(float, input('실수 세개 입력').split()))

[3.1, 2.4, 8.5]

In [12]:
x, y, z = [3.1, 2.4, 8.5]
x, y, z

(3.1, 2.4, 8.5)

In [13]:
x, y, z = list(map(float, input('실수 세개 입력').split()))
# string에 split 해주면 list로 조각, 조각난 list에 map 함수를 쓸 경우엔 element로 조각(float ect..))
x, y, z

(3.14, 1.414, 2.718)

In [14]:
x, y, z = map(float, input('실수 세개 입력').split())
# 리스트를 안써도 입력 됨
x, y, z

(1.0, 2.0, 3.0)

# 추가 사항

### range - sequence 자료형

In [15]:
range(5)

range(0, 5)

In [16]:
# 하나만 있을 경우, 0 ~ 끝 값 + 1
list(range(5))

[0, 1, 2, 3, 4]

In [17]:
# 1 ~ 10
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
# 1 ~ 10, 홀수
list(range(1,10, 2))

[1, 3, 5, 7, 9]

In [19]:
# 10 ~ 1, 짝수
list(range(10, 1, -2))

[10, 8, 6, 4, 2]

### 두 개의 정수를 입력받아서 첫 번째 값에서 부터 두 번째 값까지 출력

In [29]:
# 오답 list(range(1,3))   int 정수
a, b = map(int, input('두개의 정수 입력하세요.').split())
a, b

ValueError: invalid literal for int() with base 10: '5,'

In [28]:
print(list(range(a, b+1)))

[5, 6, 7, 8, 9, 10]

In [ ]:
a, b = map(int, input('두개의 정수 입력').split())
a, b